<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% load static %}
    <h1>{{animal.title}}</h1>
    <p>{{animal.desc}}</p>
    <p>Gatunek: {{animal.species}}</p>
    <p>Rasa: {{animal.breed}}</p>
    <p>Kolory: 
      {% for c in animal.colors %}
      <ul>{{ c }}</ul>
      {% endfor %}
    </p>
    <p>Płeć: {{animal.get_gender_display}}</p>
    {% for u in animal.static_urls %}
      {% if u != "" %} <img src="{% static u %}" /> {% endif %}
    {% endfor %}
    <p>Właściciel: {{animal.owner.first_name}} {{animal.owner.last_name}}</p>
  </body>
</html>
