<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% if strayed_animals %}
    <ul>
      {%for a in strayed_animals %}
      <li>
        <a href="{% url 'main:details' a.slug %}">{{a.title}}</a>
        {% endfor %}
      </li>
    </ul>

    {% endif %} {% if request.session.user %}
    <p>Witaj {{request.session.user}}</p>
    <a href="{% url 'main:new' %}">Dodaj ogłoszenie</a>
    <br />
    <a href="{% url 'main:logout' %}">Wyloguj się</a>
    {% else %}
    <a href="{% url 'main:login' %}">Zaloguj się</a></br>
    <a href="{% url 'main:register' %}">Nie masz konta? Zarejestruj się</a>
    {% endif %}
  </body>
</html>
