/* Ogólny styl aplikacji */
body {
  font-family: "Century Gothic";
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Nagłówek aplikacji */
.header {
  display: flex;
  padding: 20px;
  background-color: #efdbce;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

#title {
  font-size: calc(40px + 2vmin);
  font-weight: bold;
  font-family: "Century Gothic";
  color: #175c4c;
  margin: 0;
}

.user-panel {
  text-align: right;
  margin-left: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #175c4c;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.logo-link:hover {
  color: rgba(17, 65, 53, 0.671);
  text-decoration: none;
}

.logo-img:hover + .logo-text,
.logo-text:hover {
  color: rgba(17, 65, 53, 0.671);
  text-decoration: none;
}

.logo-img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: calc(40px + 2vmin);
  font-weight: bold;
  font-family: "Century Gothic";
  color: #175c4c;
  margin: 0;
}

/* Stopka */
.footer {
  padding: 20px;
  background-color: #efdbce;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  font-family: "Century Gothic";
  color: #175c4c;
  margin-top: 20px;
}

/* Treść strony głównej */
.index-content {
  padding: 20px;
}

/* Kontener główny */
.App {
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Nagłówek aplikacji */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Linki */
.App-link {
  color: #64a0b0;
}

.animal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.animal-item {
  margin-bottom: 10px;
  background-color: #b2be9db4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 145px;
}

.animal-link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
}

.animal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animal-title {
  margin-bottom: 10px;
}

.animal-thumbnail {
  width: auto;
  height: 75px;
  margin-top: 10px;
}

.new-entry {
  margin-bottom: 20px;
}

/* Styl dla całego formularza */
.registration-form {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styl dla nagłówka formularza */
.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styl dla grupy formularza (imię, nazwisko itd.) */
.form-group {
  margin-bottom: 15px;
}

/* Styl dla inputów */
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Styl dla przycisku Zaloguj */
.login-button {
  background-color: #b2be9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.login-button:hover {
  background-color: #848e73;
}

/* Styl dla przycisku Zarejestruj */
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #b2be9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #848e73;
}

/* Styl dla komunikatu o błędzie */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Obramowanie pól wymaganych */
.form-group input:required {
  border-color: rgb(153, 12, 12);
}

/* Ograniczenie rozmiaru obrazków */
.animal-image {
  max-width: 100%;
  height: auto;
}

/* Mapa */
#map {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}

.animal-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(131, 106, 132);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Resetowanie domyślnego stylu linku */
  outline: none;
  border-bottom: none;
}

.submit-button:hover,
.submit-button:active {
  background-color: rgb(87, 70, 88);
  color: #fff;
  text-decoration: none;
}

.submit-button1 {
  display: inline-block;
  width: 120px;
  margin: 0 auto 10px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(131, 106, 132);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border-bottom: none;
}

.submit-button1:hover,
.submit-button1:active {
  background-color: rgb(87, 70, 88);
  color: #fff;
  text-decoration: none;
}

/* global styling */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-radius: 4px;
  border-bottom: none;
}

/* Clear button styling */
.leaflet-control-geosearch button.reset {
  color: black;
  font-weight: bold;
  position: absolute;
  line-height: 26px;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
}

.leaflet-touch .leaflet-control-geosearch button.reset {
  line-height: 30px;
  width: min-content;
}

.leaflet-control-geosearch button.reset:hover {
  background: #f5f5f5;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: "";
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 17px;
  left: 15px;
  width: 6px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 10px;
  left: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #555;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: "";
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: "!";
  line-height: initial;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: 0;
  left: 30px;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 30px;
  border: none;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.leaflet-touch .leaflet-geosearch-bar form input {
  height: 30px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 550px;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

.leaflet-touch .leaflet-control-geosearch .results.active:after {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

/* animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaflet-top .leaflet-geosearch-bar,
.leaflet-bottom .leaflet-geosearch-bar {
  display: none;
}

.leaflet-geosearch-bar {
  position: relative;
  display: block;
  height: auto;
  width: 400px;
  max-width: calc(100% - 120px);
  margin: 10px auto 0;
  cursor: auto;
  z-index: 1000;
}

.leaflet-geosearch-bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
}

.leaflet-geosearch-bar form input {
  min-width: 100%;
  width: 100%;
}

.leaflet-geosearch-bar .results.active:after {
  opacity: 0.2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none;
}

.leaflet-bar-notfound {
  font-style: italic;
}

/* Styl dla kontenera z filtrem */
.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkboxes * {
  margin: 0 5px;
}

.filter-container > * {
  margin: 0;
}
.status-cb {
  width: 20px;
  height: 20px;
}

/* Styl dla etykiety filtrowania */
.filter-label {
  margin-right: 10px;
}

/* Styl dla pola tekstowego filtru */
.filter-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

/* Styl dla przycisku Wyczyść */
.clear-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.clear-button:hover {
  background-color: #c0392b;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow: auto;
  padding: 15px;
  margin-bottom: 15px;
}

.logged-user-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logged-user-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  max-width: 50%;
}

.other-user-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.other-user-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 50%;
}

.user-message {
  width: fit-content;
  border-radius: 20px;
  padding: 20px;
  margin: 0;
}

.sender-name {
  width: fit-content;
  margin: 0;
}

.logged-user-msg .user-message {
  background-color: #b2be9d;
}

.other-user-msg .user-message {
  background-color: #848e73;
}

.message-row {
  display: flex;
}

.msg-timestamp {
  opacity: 0;
}

.logged-user-msg:hover > .msg-timestamp {
  opacity: 1;
}

.other-user-msg:hover > .msg-timestamp {
  opacity: 1;
}

.msg-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-photo > label {
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-photo {
  width: 85% !important;
  height: 52px;
  position: relative;
  overflow: hidden;
  background-color: #4d9dff !important;
}

.btn-photo:hover {
  background-color: #2482f5 !important;
}

.no-photo {
  width: 20% !important;
  background-color: #b2be9d !important;
}

.no-photo:hover {
  background-color: #848e73 !important;
}

.btn-photo-label {
  width: 100%;
  height: 100%;
}

.btn-reset {
  width: 10% !important;
  background-color: #e74c3c !important;
  height: 52px;
}

.btn-reset:hover {
  background-color: #c0392b !important;
}

.hide-input {
  display: none;
}

.btn-msg {
  width: 75% !important;
  height: 52px;
}

#btn-photo-label {
  display: none;
}

.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-item {
  margin-bottom: 10px;
  background-color: #b2be9db4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal-lost {
  color: red;
}
.animal-found {
  color: green;
}
.animal-status {
  margin: 25px;
  font-weight: bold;
}

.report-link {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-panel {
    text-align: center;
    margin: 0;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .filter-input {
    width: auto;
  }

  .search-bar > * {
    margin: 5px 0;
  }

  .checkboxes {
    flex-direction: column;
    width: 50%;
  }

  .animal-item {
    width: calc(50% - 20px);
  }

  .btn-photo {
    width: 75% !important;
  }
  .btn-reset {
    width: 20% !important;
  }
}

@media screen and (max-width: 480px) {
  .animal-item {
    width: calc(100% - 20px);
  }
  .filter-container {
    flex-direction: column;
  }
  .search-bar {
    width: 100%;
  }
  .checkboxes {
    width: 100%;
  }
  .btn-photo {
    font-size: 0.8em;
    width: 65% !important;
  }
  .btn-reset {
    width: 30% !important;
  }
}
